.roadmapContainer{
  text-align: center;
  background-image: url(../../images/benefit-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(243, 239, 239);
  
}

.roadmapContainer h2{
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
  
}
.roadmapContainer p{
  font-size: 14px
}
.carouselHeader{
  width: 100%;
  height: 8px;
  /* background-color: rgb(218, 211, 211); */
  border-top: 10px solid white;
}
.carouselContainer div{
  background-color: #423483;
  margin: 0 10%;
  padding: 20px;
  border-radius: 10px;
  border-top: 5px solid white;
  margin-top: 25px;
  min-height: 340px;
}

.carouselContainer div::before{
  content: '';
  height: 20px;
  width: 20px;
  background-color: white;
  position: absolute;
  transform: rotate(45deg);
  margin-top: -50px;
  
}
.phase{
  margin: 0;
  padding-top: 100px;
  padding-bottom: 20px;
  color: blueviolet
}