


.faqContainer{
  background-color: #110F1E;
  color: white;
}


.faq-left{
  background-image: url(../../images/faq-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  min-width: 250px;
  padding: 20px
}

.accordion-item,.accordion-button{
  background-color:#110F1E ;
  color: white;
}
.accordion-button{
  letter-spacing: 1.3px;
}
.accordion-body{
  color: rgb(201, 197, 197);
}