.teamContainer{
  background-color: #110F1E;
  color: white;
  text-align: center;
  padding: 100px 0;
 
}

.teamContainer .title{
  color:#e3a35c
}
.teamCardContainer{
  
  width: 98%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.teamCardContainer img{
  width: 100%;
  background-color: #241f42;
  border-radius: 30px;
  padding: 30px;
  margin: 20px 0;

}
/* #3f367b;#342d60; */
.teamCardContainer div{
  background-color: #231c4f;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

@media only screen and (max-width:700px){
  .teamCardContainer{
    width: 80%
  }
}