.teamContainer{
  background-color: #060e24;
  color: white;
  text-align: center;
  padding: 100px 0;
}

.teamContainer .name{}
.teamContainer .title{
  color:rgb(221, 162, 53)
}
.teamCardContainer{
  justify-content: center;
}
.teamCardContainer img{
  width: 270px;
  background-color: rgb(18, 18, 54);
  border-radius: 30px;
  padding: 30px;
  margin: 20px 0;

}
.teamCardContainer div{
  background-color: #0c2057;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}