
@media only screen and (min-width:992px){
  .headerNav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
  }
  .firstBrand{
    display: none;
  }
}
@media only screen and (max-width:991px){
  .midBrand{
    display: none;
  }
  .firstBrand{
    display: block;
    position: relative;
    left: calc(-60vw);
  }
  .navbar-toggler{
    position: relative;
    top: 0;
    width: 60px;
    left: calc(100% - 70px);
  }
}



.logo{
  width: 90px;
  height: 90px;
  
}
