
.headerContainer{
  background-color: #110F1E;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1.5px;
}
.navbar-light .navbar-nav .nav-link:hover{
  transform: scale(1.2);
  color: rgb(63, 63, 223);
  transition: transform 0.5s;
}
.logo{
  width: 90px;
  height: auto;
  position: relative;
  top: 3px;
}

.headerContainer .header-btn{
  border: none;
  outline: none;
  background: linear-gradient(180deg, #b13fff 0%, #292bf2 100%);
  border-radius: 25px 25px 25px 25px;
  color: white;
  padding: 8px 30px;
}
.headerContainer .header-btn:hover{
  background: #292bf2;
  transition: 0.2;
}


@media only screen and (min-width:992px){
  .headerNav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    column-gap: 4vw;
  }
  .firstBrand{
    display: none;
  }
}
@media only screen and (max-width:991px){
  .headerContainer{
    padding: 20px 0;
  }
  .midBrand{
    display: none;
  }
  .firstBrand{
    display: block;
    position: absolute;
    top: -35px;
    left: 20px;
  }
  .headerNav{
    padding: 20px;
    margin-top: 30px;
  }
  .header-btn{
    display:none
  }
  .navbar-toggler{
    position: relative;
    top: 0;
    width: 60px;
    left: calc(100% - 70px);
  }
  .navbar-light .navbar-nav .nav-link{
    text-transform:capitalize
  }
  .navbar-light .navbar-nav .nav-link:hover{
    transform: scale(1);
    
  }
  .navbar-light .navbar-toggler-icon{
    background-image: url(../../images/menu.png);
    border-radius: 4px;
  }
}


